* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

*::selection {
    background: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    cursor: url("../img/bitbug_favicon.ico"), pointer;
    background: radial-gradient(#efc998, #ceaa74 120%);
}


.battery {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
}

#base {
    width: 100%;
    height: 100%;
}

#star {
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 5px;
    right: 0;
    width: 76px;
    height: 76px;
    object-fit: contain;
    margin: auto;
}

.show {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
}

.coordinate {
    position: absolute;
    width: 35px;
    animation: coordinate .5s linear infinite alternate-reverse;
}

.bullet {
    position: absolute;
    width: 35px;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 0 1px black, 0 -1px black, 1px 0 black, -1px 0 black;
}


@keyframes coordinate {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(15px);
    }
}
